<div class="container">
    <div class="forgot-box">
        <h2>Reset Password</h2>
        <h1>Forgot Your Password?</h1>
        <form (ngSubmit)="onFormSubmit()">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Enter your email"
                    required />
            </div>
            <div class="button-group">
                <button type="submit">Reset Password</button>
                <a routerLink="/login" class="back-link">Back to Sign in</a>
            </div>
        </form>
    </div>
    <div class="logo">
        <img src="https://play-lh.googleusercontent.com/Shy9VB3CKUYUzyzcuJwmDiYZElFJsKYwj5v5X2s3fGfIlL6SzkbAz_sMX6ZX9Sk8JQ"
            alt="Web-CV Logo" class="logo-img" />
        <h2>WEB-CV</h2>
    </div>
</div>