<!-- Form for Add/Edit -->
<h2>Recruitments Management</h2>
<div class="cv-button" [routerLink]="['/recruiter', 'edit']">
    Add
</div>


<!-- Display List of Recruitments -->
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Experience</th>
            <th>Rank</th>
            <th>Type</th>
            <th>Salary</th>
            <th>Status</th>
            <th>Actions</th>
            <th>View Candidates</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recruitment of recruitments">
            <td>{{ recruitment.title }}</td>
            <td>{{ recruitment.description }}</td>
            <td>{{ recruitment.experience }}</td>
            <td>{{ recruitment.rank }}</td>
            <td>{{ recruitment.type }}</td>
            <td>{{ recruitment.salary | currency }}</td>
            <td>{{ recruitment.status === 1 ? 'Active' : 'Inactive' }}</td>
            <td>
                <div class="cv-button" [routerLink]="['/recruiter', 'edit', recruitment.id]">
                    Update
                </div>
                <button (click)="onDeleteRecruitment(recruitment.id)">Delete</button>
            </td>
            <td>
                <div class="cv-button" [routerLink]="['/recruiter', 'candidate', recruitment.id]">
                    View
                </div>
            </td>
        </tr>
    </tbody>
</table>