<h2>Recruitments Management</h2>

<!-- Form for Add/Edit -->
<form [formGroup]="recruitmentForm" (ngSubmit)="onAddRecruitment()">
    <label>Title:</label>
    <input formControlName="title" placeholder="Enter title" />

    <label>Description:</label>
    <textarea formControlName="description" placeholder="Enter description"></textarea>

    <label>Salary:</label>
    <input type="number" formControlName="salary" title="salary" />

    <label>Address:</label>
    <input formControlName="address" placeholder="Enter address" />

    <label>Deadline:</label>
    <input type="date" formControlName="deadline" title="deadline" />

    <button type="submit" [disabled]="recruitmentForm.invalid">Add Recruitment</button>
</form>

<!-- Display List of Recruitments -->
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Salary</th>
            <th>Actions</th>
            <th>View Candidate List</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recruitment of recruitments">
            <td>{{ recruitment.title }}</td>
            <td>{{ recruitment.description }}</td>
            <td>{{ recruitment.salary | currency }}</td>
            <td>
                <button (click)="onEditRecruitment(recruitment.id)">Edit</button>
                <button (click)="onDeleteRecruitment(recruitment.id)">Delete</button>
            </td>
            <td>
                <div class="cv-button" [routerLink]="['/recruiter', 'candidate', recruitment.id]">
                    View
                </div>
            </td>
        </tr>
    </tbody>
</table>