<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>WEB-CV</h3>
            <p>Your gateway to the future of recruitment.</p>
        </div>
        <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="home">Trang chủ</a></li>
                <li><a href="company">Doanh nghiệp</a></li>
                <li><a href="recruitment">Tin tuyển dụng</a></li>
                <li><a href="recruiter">Nhà tuyển dụng</a></li>
            </ul>
        </div>

    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 WEB-CV. All rights reserved.</p>
    </div>
</footer>