<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar with Dropdown</title>
    <link rel="stylesheet" href="navbar.component.css">
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="home" class="nav-item">Home</a>
            <div class="dropdown">
                <button class="nav-item dropbtn">Category ▼</button>
                <div class="dropdown-content">
                    <table>
                        <tr *ngFor="let i of [0,1,2,3,4]"> <!-- Max 5 rows -->
                            <td *ngFor="let col of columns">
                                <a *ngIf="col[i]" [routerLink]="'/recruitment/category/' + col[i].id">
                                    {{ col[i].name }}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>




            <a href="company" class="nav-item">Company</a>
            <a href="recruitment" class="nav-item">Job Post</a>
        </div>

        <div class="nav-right">
            <a href="#" class="nav-item">Register</a>
            <a href="#" class="nav-item">Log In</a>
        </div>
    </nav>
</body>

</html>