<h2>{{ isEditMode ? 'Chỉnh sửa' : 'Thêm bài' }}</h2>

<form [formGroup]="recruitmentForm" (ngSubmit)="onSubmit()" class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Tiêu đề:</label>
                <input formControlName="title" class="form-control" placeholder="Nhập Tiêu Đề" />
            </div>
            <div class="mb-3">
                <label class="form-label">Miêu tả:</label>
                <textarea formControlName="description" class="form-control" placeholder="Nhập Miêu Tả"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Kinh Nghiệm:</label>
                <input formControlName="experience" class="form-control" placeholder="Nhập Kinh nghiệm cần thiết" />
            </div>
            <div class="mb-3">
                <label class="form-label">Số Lượng:</label>
                <input type="number" formControlName="quantity" class="form-control" min="1"
                    placeholder="Nhập số lượng cần thiết" />
            </div>
            <div class="mb-3">
                <input formControlName="rank" class="form-control" type="text" hidden />
            </div>
            <div class="mb-3">
                <label class="form-label">Loại thời gian:</label>
                <input formControlName="type" class="form-control"
                    placeholder="Nhập Loại Thời Gian (vd: Full-time, Part-time)" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Lương:</label>
                <input type="number" formControlName="salary" class="form-control" placeholder="Nhập Lương" />
            </div>
            <div class="mb-3">
                <label class="form-label">Địa Chỉ:</label>
                <input formControlName="address" class="form-control" placeholder="Nhập Địa Chỉ" />
            </div>
            <div class="mb-3">
                <label class="form-label">Hạn Cuối:</label>
                <input type="date" formControlName="deadline" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Tên Công ty:</label>
                <select formControlName="companyName" class="form-select" (change)="onCompanyChange($event)">
                    <option *ngFor="let company of companyList" [value]="company.name">
                        {{ company.name }}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Tên danh mục:</label>
                <select class="form-select" formControlName="categoryName" (change)="onCategoryChange($event)">
                    <option *ngFor="let category of categoryList" [value]="category.name">
                        {{ category.name }}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Hình ảnh:</label>
                <input formControlName="logo" class="form-control" placeholder="Nhập đường dẫn hình ảnh" />
            </div>
            <div class="mb-3">
                <label class="form-label">Trạng thái:</label>
                <select formControlName="status" class="form-select">
                    <option [value]="0">Ngừng Hoạt động</option>
                    <option [value]="1">Hoạt Động</option>
                </select>
            </div>
        </div>
    </div>

    <div class="text-center mt-3">
        <button class="btn btn-primary" [disabled]="recruitmentForm.invalid">
            {{ isEditMode ? 'Cập nhật' : 'Thêm' }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="goBack()">Quay lại</button>
    </div>
</form>